[DEFAULT]
# imap email server configuration
email.host 		            =
email.user 		            =
email.password 	            =

# delete processed mails?
email.deleteAfterProcessing = 0
# compact imap mailbox after deletion?
email.expungeMailbox        = 1

# subject pattern to identify email message
email.subject_key          =

# OPC settings
opc.url                    =
opc.password               =
opc.tag_temperature        =
opc.tag_sun                =
