[DEFAULT]
# imap email server configuration
email.host 		            =
email.user 		            =
email.password 	            =


# delete processed mails?
# 0..no deletion; 1..delete all; 2..delete but keep last
email.deleteAfterProcessing = 0

# compact imap mailbox after deletion?
email.expungeMailbox        = 1

# subject pattern to identify email message
email.subject_key          =


# OPC settings

# if opc.url is set to file, a file is used for storage instead
# opc.url e.g. http://opcserver.com:8080/DA or file:/tmp/blind-control.data
opc.url                    =
# password of OPC server
opc.password               =
# OPC tag for temperature storage, defaults to Temperature
opc.tag_temperature        =
# OPC tag for sun power storage, defaults to SunPower
opc.tag_sun                =
